/* 
    TITULOS font-family: 'Source Sans Pro', sans-serif; 
    CUERPO font-family: 'Poppins', sans-serif;
*/

* {
	font-family: "Poppins", sans-serif;
	font-weight: 300;

	/* Reset CSS */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Paleta de colores */
	--encabezado: #00334e;
	--color-texto-dark: #145374;
	--color-texto-light: #5588a3;
	--color-gris: #e8e8e8;
	--colorcorrecto:#1ed12d;
	--colorincorrecto:#bb2929;
}

/*----------------- ESTILOS GENERALES -----------------*/

/* Estilo container */
.container {
	min-height: 100vh;
	/* overflow: hidden; */
}

/* Estilos para el encabezado de la pagina */
.encabezado {
	background-color: var(--encabezado);
	color: var(--color-gris);
	/* Estructura */
	min-height: 100px;
}
.encabezado__logo {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.encabezado__title {
	font-size: 30px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	/* text-align: center; */
}

.encabezado__subtitle {
	font-size: 10px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	text-align: center;
}

.encabezado__imagen {
	height: 100px;
}

.social {
	position: fixed;
	display: flex;
	justify-content: center;
	flex-direction: column;
	right: 5px;
	bottom: 0;
}
.social__icon {
	color: var(--color-texto-dark);
	font-size: 24px;
}

/* Estilos para el contenedor del cuerpo de la pagina */
.section {
	width: 100%;
}
/* Estilos para el Formulario */
.formulario {
	padding: 20px;
	height: 80%;
}
.formulario__title {
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
	border-bottom: 3px solid var(--color-texto-dark);
	outline: none;
}
.formulario__datos {
	width: 100%;
	margin-bottom: 5px;
}
.formulario label {
	font-size: 15px;
	font-style: italic;
	font-weight: 400;
	display: block;
	width: 100%;
}
.formulario input,
.formulario select {
	display: block;
	width: 100%;
	padding: 5px;
}

.boxbtn {
	width: 50%;
	height: 40px;
	margin: 0 auto;
	margin-top: 20px;
}
.boxbtn__btn {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 16px;
	transition: all 0.5s ease-in;
	color: var(--color-gris);
	background-color: var(--color-texto-dark);
}
.boxbtn__btn:hover {
	cursor: pointer;
	background-color: var(--color-texto-light);
}

/* Estilos para mensajes de validación */
.formulario__grupo-input {
	position: relative;
}
.formulario__input-error {
	font-size: 14px;
	margin-bottom: 0;
	display: none;
	color: var(--colorincorrecto);
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 12px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

/* Estilos footer */
.footer {
	padding: 20px;
	background-color: var(--color-gris);
	height: auto;
}
.footer__title {
	font-weight: 400;
	color: var(--color-texto-dark);
}
.footer__icon {
	margin-right: 5px;
}

.footer__acerca {
	margin-bottom: 10px;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: var(--colorcorrecto);
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: var(--colorincorrecto);
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: var(--colorincorrecto);
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid var(--colorincorrecto);
}

/*----------------- ESTILOS RESPONSIVE -----------------*/

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.encabezado,
.formulario,
.footer,
.section {
	width: 100%;
}

/* Estilos para Tablets */
@media only screen and (min-width: 580px) {
	.formulario {
		width: 85%;
		padding: 25px 0;
		margin: 0 auto 20px auto;
	}
}

@media only screen and (min-width: 580px) and (orientation: landscape) {
	.social__icon {
		font-size: 18px;
	}
}

/* Estilos para Tablets */
@media only screen and (min-width: 768px) {
	.encabezado {
		width: 25%;
	}
	.encabezado__logo {
		height: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		padding: 15px 0;
	}
	.encabezado__title {
		font-size: 30px;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 600;
		padding: 0px 15px;
		text-align: center;
	}

	.encabezado__subtitle {
		padding: 0px 15px;
		text-align: center;
	}
	.social {
		width: 25%;
		flex-direction: row;
		left: 0px;
		bottom: 20px;
		justify-content: space-evenly;
	}
	.social__icon {
		font-size: 25px;
		color: var(--color-gris);
	}
	.section {
		width: 75%;
	}
	.formulario__title {
		font-size: 25px;
		margin-bottom: 22px;
		border-bottom: 5px solid var(--color-texto-dark);
	}
	.formulario__datos {
		margin-bottom: 8px;
	}
	.formulario label {
		font-size: 16px;
	}
	.formulario input,
	.formulario select {
		padding: 7px;
	}
	.boxbtn {
		width: 60%;
		height: 55px;
		margin-top: 30px;
	}
	.footer {
		display: flex;
		padding-bottom: 3px;
	}
	.footer__acerca {
		width: 50%;
	}
	.footer__contacto {
		width: 45%;
	}
	.footer__texto-acerca {
		font-size: 14px;
	}
}

/* Estilos para Tablets vertical*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.container {
		min-height: 100vh;
	}

	.encabezado {
		width: 25%;
	}
	.section {
		width: 75%;
		display: flex;
		flex-wrap: wrap;
	}

	.formulario__title {
		font-size: 25px;
		margin-bottom: 22px;
		border-bottom: 5px solid var(--color-texto-dark);
	}
	.formulario__datos {
		margin-bottom: 8px;
	}
	.formulario label {
		font-size: 16px;
	}
	.formulario input,
	.formulario select {
		padding: 7px;
	}
	.boxbtn {
		width: 60%;
		height: 55px;
		margin-top: 30px;
	}
	.footer {
		align-self: flex-end;
		width: 100%;
	}
	.footer__acerca {
		width: 50%;
	}
	.footer__contacto {
		width: 45%;
	}
	.footer__texto-acerca {
		font-size: 14px;
	}
}

/* Estilos para Medium-Desktops */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
	.encabezado {
		width: 30%;
	}

	.encabezado__imagen {
		height: 250px;
	}

	.encabezado__title {
		font-size: 50px;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 600;
		padding: 0px 15px;
		text-align: center;
	}

	.encabezado__subtitle {
		font-size: 30px;
		padding: 0px 15px;
		text-align: center;
	}
	.social {
		width: 30%;
	}
	.section {
		width: 70%;
		display: flex;
		flex-wrap: wrap;
	}
	.formulario {
		width: 80%;
	}
	.formulario__title {
		font-size: 28px;
		margin-bottom: 25px;
	}
	.formulario__datos {
		margin-bottom: 10px;
	}
	.formulario label {
		font-size: 18px;
	}
	.formulario input,
	.formulario select {
		padding: 10px;
	}
	.footer {
		align-self: flex-end;
		width: 100%;
	}
}

/* Estilos para Large-Desktops */
@media only screen and (min-width: 1680px) and (orientation: landscape) {
	.formulario {
		width: 80%;
	}
	.formulario__title {
		font-size: 32px;
		margin-bottom: 25px;
	}
	.formulario__datos {
		margin-bottom: 10px;
	}
	.formulario label {
		font-size: 20px;
	}
	.formulario input,
	.formulario select {
		padding: 10px;
	}
	.boxbtn__btn {
		font-size: 20px;
	}
}
